'context-menu':
  '.overlayer': [{label: 'Enable markmon', command: 'markmon:toggle'}]

'menu': [
  {
    label: 'Packages'
    submenu: [
      label: 'Markmon'
      submenu: [
        { label: 'Preview', command: 'markmon:show' }
      ]
    ]
  }
]
